name: CI
on:
  pull_request: {}
  push:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    name: Build, Validate and Deploy
    steps:
      - uses: actions/checkout@v2
      - uses: jyasskin/spec-prod@patch-3
        with:
          TOOLCHAIN: bikeshed
          SOURCE: index.bs
          BUILD_FAIL_ON: warning
          GH_PAGES_BRANCH: gh-pages
