name: CI
on:
  pull_request: {}
  push:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-22.04  # Work around https://github.com/w3c/spec-prod/issues/189
    name: Build, Validate and Deploy
    steps:
      - uses: actions/checkout@v2
      - uses: w3c/spec-prod@v2
        with:
          TOOLCHAIN: bikeshed
          SOURCE: index.bs
          BUILD_FAIL_ON: warning
          GH_PAGES_BRANCH: gh-pages
